*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}

/* BEGIN THE INDEX SECTION*/

/*************NAV SECTION************/

h2{font-size: 2.5rem;}
  
ul{ margin-top: 0.9rem;}
 



header{
  background-image: url('images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:10rem;
  position: relative;
}

 
 .overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(56, 56, 56, 0.3);
  }  

  nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3.125rem 3.75rem 0 3.75rem;
    color: white;
  }

  nav li{
    list-style: none;
    display: inline-block;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    font-weight: bold;
  }

  
  nav li span{ padding-left: 0.313rem;}
    

  li a{
    padding: 0.313rem;
    background-color: #fff;
    text-decoration: none;
    padding: 0.625rem 0.938rem;
    border-radius: 0.938rem;
  }

  li a:hover{
    background: linear-gradient(rgb(56, 99, 226),rgb(84, 117, 216),rgb(98, 128, 218));
    color: white;
  }

  .cart i{
    vertical-align: bottom;
    font-size: 1.25rem;
    padding-right: 0.313rem;
  }

  .cart a{
    background-color: rgb(35, 197, 62);
    color: white;
    cursor: pointer;
    text-decoration: none;
  }

  .cart a:hover{
    background: linear-gradient(rgb(96, 184, 96),green,green)
  }

  /*************MAIN SECTION************/

  .container,
  .product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3.125rem;
    padding-bottom: 6.25rem;
  }

  .container img{ 
    height: 23.438rem;
  }

  .whiteShirt{padding-left: 1.875rem; }

  .product{
    margin-left: 1.25rem;
    margin-right: 3.125rem;
    margin-bottom: 1.875rem;
    position: relative;
    overflow: hidden;
    border: 2px solid rgb(202, 197, 197);
    width: 18.75rem;
  }

  .product h3{
    text-align: center;
    font-size: 1.25rem;
    background-color: rgb(235, 231, 231);
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }

  .add-cart{
    position: absolute;
    width: 100%;
    background-color: rgb(35, 197, 62);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;

    

  }

  .product:hover .cart1,
  .product:hover .cart2,
  .product:hover .cart3,
  .product:hover .cart4{
    bottom: 3.125rem;
    opacity: 1;
    padding: 0.625rem;
    text-decoration: none;
  }

  /* END THE INDEX SECTION*/


  /* BEGIN THE CART SECTION*/

.product-container{
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.product-header{
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgrey;
  margin: 0 auto;
}

.product-title{width: 45%;}

.price{
  width: 15%;
  display: flex;
  align-items: center;
}

.quantity{
  width: 30%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}

.total{
  width: 10%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}

/* .product{
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid green;
}    */


  
    
 

